@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.country{
    display: flex;
    flex-direction: column;
    height: 37rem;
    .link{
        border: 0;
        height: 17rem;
        .flag{
            border-radius: .6rem .6rem 0 0;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.information{
    background-color: v.$color-white;
    padding: 3rem;
    height: 18.5rem;
    .name{
        color: v.$color-black-pearl;
        font-size: 1.8rem;
        font-weight: 800;
        @include m.desktop{
            font-size: 2rem;
        }
    }
    .features{
        list-style: none;
        margin-top: 1.5rem;
    }
}

.feature{
    font-size: 1.4rem;
    color: v.$color-black-pearl;
    font-weight: 600;
    margin-bottom: .5rem;
    @include m.desktop{
        font-size: 1.5rem;
    }
    .span{
        color: v.$color-dark-gray;
    }
}