@use '../abstract/mixins' as m;
@use '../abstract/variables' as v;

.home-country{
    display: flex;
    flex-direction: column;
    height: 37rem;
    text-decoration: none;
    & :hover{
        cursor: pointer;
    }
    .link{
        border: 0;
        height: 17rem;
        .flag{
            border-radius: .6rem .6rem 0 0;
            display: block;
            height: 100%;
            width: 100%;
        }
    }
}

.information{
    background-color: v.$color-white;
    border-radius: 0 0 0.6rem 0.6rem;
    height: 18.5rem;
    padding: 3rem;
    .home-country-name{
        color: v.$color-black-pearl;
        font-size: 1.8rem;
        font-weight: 800;
        @include m.desktop{
            font-size: 2rem;
        }
    }
    .home-features{
        list-style: none;
        margin-top: 1.5rem;
    }
}

.home-feature{
    color: v.$color-black-pearl;
    font-size: 1.4rem;
    font-weight: 600;
    margin-bottom: .5rem;
    @include m.desktop{
        font-size: 1.5rem;
    }
    .span{
        color: v.$color-dark-gray;
    }
}

#dark .information{
    background-color: v.$color-dark-blue;
    box-shadow: 0 .7rem .6rem -0.4rem v.$color-dark-mode-box-shadow;
}

#dark .home-country-name{
    color: v.$color-white;
}

#dark .link{
    background-color: v.$color-dark-blue;
}

#dark .home-feature{
    color: v.$color-white;
}