@use '../abstract/variables' as v;
@use '../abstract/mixins' as m;

.header{
    width: 100%;
    padding-block: 2.5rem;
    box-shadow: 0 0 .3rem .3rem v.$color-box-shadow;
    height: 7rem;
    .flex{
        display: flex;
        justify-content: space-between;
        align-items: center;
        .title{
            color: v.$color-black-pearl;
            font-size: 1.4rem;
            font-weight: 800;
            @include m.desktop{
                font-size: 2.5rem;
            }
        }
    }
}

.theme-switcher{
    border: 0;
    background-color: v.$color-white;
    display: flex;
    column-gap: .5rem;
    align-items: center;
    font-size: 1.4rem;
    color: v.$color-black-pearl;
    @include m.desktop{
        font-size: 1.5rem;
        cursor: pointer;
    }
    .theme-name{
        text-transform: capitalize;
        font-weight: 600;
    }
}

#light.header{
    background-color: v.$color-white;
}

#dark.header{
    background-color: v.$color-dark-blue;
}

#light .title{
    color: v.$color-black-pearl;
}

#dark .title{
    color: v.$color-white;
}

#light .theme-switcher{
    background-color: v.$color-white;
}

#dark .theme-switcher{
    background-color: v.$color-dark-blue;
    color: v.$color-white;
}

#dark .moon{
    background-color: v.$color-white; 
}