// Colors
$color-dark-blue: hsl(209, 23%, 22%);
$color-very-dark-blue: hsl(207, 26%, 17%);
$color-black-pearl: hsl(200, 15%, 8%);
$color-dark-gray: hsl(0, 0%, 52%);
$color-very-light-gray: hsl(0, 0%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-light-mode-box-shadow: hsla(0, 0%, 0%, 0.03);
$color-dark-mode-box-shadow: hsla(0, 0%, 4%, 0.27);

// media query
$mq-desktop: 1440px;